<div>
    <h2>Editar Usuário</h2>
  
    <form  (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" [(ngModel)]="usuario.Nome" formControlName="Nome">
      </mat-form-field>   
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="usuario.Email" formControlName="Email">
      </mat-form-field>   <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="text" [(ngModel)]="usuario.Senha" formControlName="Senha">
      </mat-form-field>   <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <input type="text" [(ngModel)]="usuario.Tipo" formControlName="Tipo">
      </mat-form-field>   
  
      <button mat-raised-button color="primary" type="submit">Salvar Alterações</button>
      <button mat-raised-button color="primary" type="submit">voltar</button>
    </form>
  </div>
  