<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JOGADOR DE ALUGUEL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="textoNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Destaques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jogadores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>
    </ul>
    
  </div>
</nav>

<div class="container">
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  
  <div class="mb-3">
    <label for="Nome"  class="form-label">Nome:</label>
  <input [(ngModel)]="usuario.Nome" class="form-control"
  formControlName="Nome" type="text"
  id="Nome" placeholder="Nome ..."/>

  </div>
<div class="mb-3">
  <label for="Email"  class="form-label">Email:</label>
  <input [(ngModel)]="usuario.Email" class="form-control"
  formControlName="Email" type="text"
  id="Email" placeholder="Email ..."/>
</div>

<div class="mb-3">
  <label for="Senha" class="form-label">Senha:</label>
  <input  [(ngModel)]="usuario.Senha" class="form-control" 
  formControlName="Senha" 
  id="Senha" type="password" [disabled]="isEditMode" 
  placeholder="Senha ..." />

</div>
  
<div class="mb-3">
  <label for="Tipo" class="form-label">Tipo:</label>
  <input [(ngModel)]="usuario.Tipo" class="form-control" formControlName="Tipo"
  id="Tipo" placeholder="Tipo ..."/>

  <button type="submit"> Cadastrar </button>
</div>
 
  
<div>
  <form [formGroup]="registrationForm" (ngSubmit)="buscarUsuario()" >
    <label for="userId">Buscar Usuário por Id:</label>
    <input type="text" id="userId" formControlName="userId" required>
    <button type="submit">Buscar e Editar</button>
  </form>
</div>

</form>

</div>